.playlist{id: "playlist_id_#{playlist.id}"}
  %h4
    = playlist.title
  %h4
    = playlist.duration
  %h4
    = playlist.track_count
  %h4
    = playlist.description if !playlist.description.blank?
  %h4
    = link_to "Shuffle!", shuffle_path(playlist.id)
