.playlist.container.text-center{id: "playlist_id_#{playlist.id}"}
  %h4
    = link_to playlist.title, playlist.permalink_url, target: "_blank"
  %h4
    = "#{playlist.track_count} Tracks"
  %h4
    = duration_string(playlist.duration)
  %h4
    = playlist.description if !playlist.description.blank?
  %h4
    = link_to "Shuffle!", shuffle_path(playlist.id)